name: Publish Preview Package
on:
  push:
    branches: [main]
  pull_request:

jobs:
  pkg-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Publish
        run: |
          cd alchemy-effect && bun pm pack
          cd ../alchemy-effect-aws && bun pm pack
          cd ../alchemy-effect-cloudflare && bun pm pack
          cd ../alchemy-effect-cli && bun pm pack
          cd ..
          bunx pkg-pr-new publish --bun ./alchemy-effect ./alchemy-effect-aws ./alchemy-effect-cloudflare ./alchemy-effect-cli
